:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --secondery-white-color: #ffffff99;
    --black-text-color: #000000;
    --primery-bg-color: #f5f5f5;
    --secondery-bg-color: #f5f4fa;
    --white-bg-color: #ffffff;
    --black-bg-color: #2f303a;
}

$mobile: 480px;
$tablet: 786px;
$desktop: 1200px;