.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: var(--title-text-color);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color var(--accent-color);

    &:focus {
            border: 1px solid var(--accent-color);
            outline: none;
        }
}


.modal-form-field {
    display: inline-block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
}

.modal-form-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;

    .modal-form-input:focus + & {
            fill: var(--accent-color);
        }
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-form-input-message {
    margin-bottom: 20px;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    padding: 12px 16px;

    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);

    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;

    &:focus {
            border: 1px solid var(--accent-color);
            outline: none;
        }
}



.modal-check-field-wrapper {
    display: flex;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primery-text-color);
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;

    @include desktop{
   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    user-select: none;

    color: var(--primery-text-color);
    }
}

.modal-form-own-check {
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 9px;

    .modal-form-check:focus + & {
            outline: 2px solid var(--black-text-color);
        }

    .modal-form-check:checked + & {
            background-color: var(--accent-color);
            border-color: transparent;
        }     
}


.modal-form-own-check-icon {
    display: none;
    fill: var(--white-text-color);

    .modal-form-check:checked+.modal-form-own-check & {
            display: block;
        }
}


.modal-form-own-check-link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    
    color: var(--accent-color);

    @include desktop{
    font-size: 14px;
    line-height: 1.71;
    }
    
}

.modal-form-btn {
    font-weight: 700;
    align-self: center;
    padding: 10px 52px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: #188ce8;
        }
}

