.modal {
  width: 100%;
  position: absolute;
  padding: 40px;
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    width: 450px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @include desktop {
    width: 528px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-bg-color);
  fill: var(--black-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
