.section__title {
    color: var(--title-text-color);
    text-align: center;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
   


 @include desktop {
        margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
            
    }
}