.team-section {
    background-color: var(--secondery-bg-color);
}

.team__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center;

    @include tablet {
    flex-direction: row;
    }

    @include desktop{
    flex-wrap: nowrap;
    }
}

.team__list-item {
    width: calc((100% - 0 * 30px) / 1);

    @include tablet {
    width: calc((100% - 1 * 30px) / 2);
    }

    @include desktop {
    width: calc((100% - 3 * 30px) / 4);
    }
    
}

.team__list-title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team__list-text {
    color: var(--primery-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team__list-description {
    text-align: center;
    padding: 30px 0;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-bg-color);
}

.team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.team_social-link {
    background-color: var(--white-bg-color);
    border-radius: 50%;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    outline: transparent;
}
}

.team__social-icon {
    fill: currentColor;
}
