.section-work {
    display: none;

    @include desktop{
        display: block;
        padding-top: 0;
    }
    
}

.work__subtitle {
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 27px 0;
}


.work__list {
    display: flex;
    column-gap: 30px;
}

.work__item {
    position: relative;
    width: calc((100% - 2 * 30px) / 3);
}